.contracts-page {
  margin: 20px;
  text-align: center;
}

.contracts-header {
  font-size: 2em;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 10px;
  
}

.contract-card.selected {
  border: 2px solid #2980b9;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.contracts-header p {
  font-size: 0.5em;
  color: #34495e;
  font-weight: normal;
  margin-bottom: 15px;
}

a {
  text-decoration: none; 
  color: inherit; 
  font-size: inherit;
  font-family: inherit; 
  transition: background-color 0.3s, color 0.3s; 
}

a:hover {
  background-color: rgb(255, 255, 255); 
  color: blue; 
}

.contract-container {
  display: flex;
  gap: 10px; 
}

.contract-card {
  border: none; 
  background: none;
  cursor: pointer;
}

.contract-card label {
  display: block;
  margin: 10px 0;
}

.contract-card:hover {
  transform: scale(1.02);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.contract-container.selected {
  border: 2px solid #2980b9;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.confirm-selection {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.confirm-button {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #2980b9;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirm-button:hover {
  background-color: #1f6391;
}
